name: Discord Notification

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Post to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
          COMMIT_MESSAGE: ${{ toJSON(github.event.head_commit.message) }}
          AUTHOR_NAME: ${{ toJSON(github.event.head_commit.author.name) }}
          REPOSITORY: ${{ toJSON(github.repository) }}
          COMMIT_URL: ${{ github.event.head_commit.url }}
        run: |
          curl -H "Content-Type: application/json" \
            -d "{
              \"embeds\": [{
                \"title\": \"New merge to main\",
                \"description\": $COMMIT_MESSAGE,
                \"color\": 5814783,
                \"fields\": [
                  {\"name\": \"Author\", \"value\": $AUTHOR_NAME, \"inline\": true},
                  {\"name\": \"Repository\", \"value\": $REPOSITORY, \"inline\": true}
                ],
                \"url\": \"$COMMIT_URL\"
              }]
            }" \
            $DISCORD_WEBHOOK
